{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">UserName</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    {{#users}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/home/user/{{id}}"> {{username}} </a></td>
            <td>{{email}}</td>
        </tr>
    {{/users}}
    </tbody>
</table>
<ul class="pagination">
    <li class="page-item"><a class="page-link" href="?page={{preVious}}">Previous</a> </li>
    <li class="page-item"><a class="page-link" href="?page={{next}}">Next</a> </li>
</ul>
<a href="/home">회원 가입하러 가기</a>
{{>layouts/footer}}