<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>

<div layout:fragment="content" class="container my-3">

    <section>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                             alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3" th:text="${name}"></h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <h5>최근 게시글</h5>
                <div class="card mb-4">
                    <div class="card-body">
                        <th:block th:each="question: ${questionList}">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0" th:text="${question.subject}"></p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" th:text="${question.createDate}"></p>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <h5>최근 답변</h5>
                <div class="card mb-4">
                    <div class="card-body">
                        <th:block th:each="answer: ${answerList}">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0" th:text="${answer.content}"></p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" th:text="${answer.createDate}"></p>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <h5>최근 댓글</h5>
                <div class="card mb-4">
                    <div class="card-body">
                        <th:block th:each="comment: ${commentList}">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0" th:text="${comment.content}"></p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" th:text="${comment.createDate}"></p>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>

<script layout:fragment="script" type='text/javascript'>
</script>

</body>
</html>


<!--  3-13 장 검색기능 추가하기 부터 시작  -->